@font-face {
    font-family: 'main-font';
    src:  url('../public/Rabar_008.ttf')  format('truetype'), /* Safari, Android, iOS */;
    /* font-display: swap; */
}
*{
    font-family: 'main-font' !important;
}
body{
    background: red !important;
}
