@font-face {
    font-family: 'main-font';
    src:  url('../public/Rabar_014.ttf')  format('truetype');
}
@font-face {
    font-family: 'content-font';
    src:  url('../public/Rabar_005.ttf')  format('truetype');
}
h2, .header-txt, h1, .ant-card-meta-title, .ant-card-head-title, .ant-list-item-meta-content
, .ant-modal-title, .ant-form-item-label{
    font-family: 'main-font';
}
span, p, .ant-card-meta-description{
    font-family: 'content-font';
}