body{
    /* font-family: 'main-font'; */
    background: white;
}
.header-txt{
    text-align: center;
    font-family: 'main-font' !important;
}
.profile-setting-row{
    margin-bottom: 5px;
}
.profile-setting-row:hover{
    cursor: pointer;
}
.profile-setting-row:hover span{
    color: #e45858;
    cursor: pointer;
}
.profile-setting-row:hover button{
    background: #e45858 !important;
    color: white !important;
}
.profile-setting-row:hover button *{
    color: white !important;
}

.search-input *, .search-input{
    background: #f7f7f6;
    border-radius: 25px;
    border:none;
}

.slider-controller-container li button{
    /* background: red !important; */
    height: 12px !important;
    width: 12px !important;
    border-radius: 100px !important;;
}

.inner-slide-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* background: red; */
    /* opacity: 0.5; */
    border-radius: 7px !important;
    top: -184px !important;
    background-image: linear-gradient(to bottom, transparent,
    black 144%);
    opacity: 0.9;
}


.navlink-row{
    margin-bottom: 5px;
}

.navlink-row:hover{
    cursor: pointer;
}
.navlink-row:hover h2{
    color: #e45858;
    cursor: pointer;
}
.navlink-row:hover button{
    background: #e45858 !important;
    color: white !important;
}
.navlink-row:hover button *{
    color: white !important;
}