body{
    /* font-family: 'main-font'; */
    background: white;
}
.header-txt{
    text-align: center;
    font-family: 'main-font' !important;
}
.profile-setting-row{
    margin-bottom: 5px;
}
.profile-setting-row:hover{
    cursor: pointer;
}
.profile-setting-row:hover span{
    color: #e45858;
    cursor: pointer;
}
.profile-setting-row:hover button{
    background: #e45858 !important;
    color: white !important;
}
.profile-setting-row:hover button *{
    color: white !important;
}

.search-input *, .search-input{
    background: #fbfbfb;
    border-radius: 5px;
    border:none;
}

.slider-controller-container li button{
    /* background: red !important; */
    height: 12px !important;
    width: 12px !important;
    border-radius: 100px !important;;
}


.navlink-row{
    margin-bottom: 5px;
}

.navlink-row:hover{
    cursor: pointer;
}
.navlink-row:hover h2{
    color: #e45858;
    cursor: pointer;
}
.navlink-row:hover button{
    background: #e45858 !important;
    color: white !important;
}
.navlink-row:hover button *{
    color: white !important;
}
.navlink-row .nav-link-icon {
    /* background: #fbfbfb; */
    padding: 8px;
    border-radius: 3px;
    color: #868786;
}
.navlink-row:hover .nav-link-icon{
    background: #e45858 !important;
    color: white !important;
}
.navlink-row:hover .nav-link-icon *{
    color: white !important;
}

.sidebar-card-header{
    background: #2b2c34;
    color: white;
    padding: 7px;
    border-radius: 7px;
    position: absolute;
    top: -20px;
    right: 10px;
    font-size: 15px;
}
.sidebar-tag{
    margin-right: 0;
    margin-left: 8px;
    direction: rtl;
    text-align: right;
    padding: 4px;
    background: white;
    border: none;
    font-size: 14px;
    margin: 3px;
    box-shadow: 1px 2px 4px #e4e4e4;
}

.ant-card-actions{
    background: white;
}

.post-card-fav:hover{
    color:#fb5606;
    
}
.ant-message {
    bottom: 20px;
    top: initial;
}